table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom:70px;
}

th, td {
  width: 50%;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}